# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vc++
*.log
*.obj
*.tlog
*.pdb
*.sdf
*.apf
*.suo

Debug/*
Release/*
ipch/*
cdr2pdfviewer/Debug/*
cdr2pdfviewer/Release/*